@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --primary-color: rgb(95, 46, 234);
  --primary-color-2: rgb(239, 234, 253);
  --dark-color: rgb(16, 24, 40);
  --grey-color: rgb(102, 112, 133);
  --dark-grey-color: rgba(102, 112, 133, 0.2);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 1.5rem;
  --light-shadow: 0 0px 2px rgba(16, 24, 40, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}



*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}



.btn,
.btn-2,
.subscribe-btn {
  text-transform: uppercase;
  background: var(--primary-color);
  color: var(--clr-white);
  padding: 1rem .5rem;
  /* letter-spacing: var(--spacing); */
  font-weight: 600;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: .6rem;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
  border-radius: var(--radius);
  display: inline-block;
  min-width: 10rem;
  align-items: center;
}

.btn-2 {
  border: 1px solid var(--primary-color);
  background: var(--clr-white);
  color: var(--primary-color);
}

/* .btn:hover {
  color: var(--primary-color);
  background: var(--clr-white);
} */


.section {
  padding: 3rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}


.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 2rem;
  text-align: center;
}

.section-title h2 {
  text-transform: uppercase;
  font-weight: 900;

}

.bg-grey {
  background: var(--clr-grey-10);
}

/* 
=========
Topbar
=========
 */

.topbar,
.category {
  /* border-bottom: 1px solid var(--grey-color);
   */
  box-shadow: var(--light-shadow);
  padding: 3rem 5rem;
}

.dashboard,
.newsletter,
.footer {
  padding: 0 5rem;
}

.payment-board {
  box-shadow: var(--light-shadow);
}

.board-title h2,
.newsletter h2 {
  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: 0;
}

.board-tabs-container {
  border-bottom: 1px solid var(--dark-grey-color);
}

.tab-1,
.tab-2 {
  /* border-right: 1px solid var(--dark-grey-color); */
  cursor: pointer;
}

.tab-3 {
  cursor: pointer;
}

.active {
  background: var(--primary-color-2);
  border-bottom: 2px solid var(--primary-color)
}

.single-network {
  box-shadow: var(--light-shadow);
  cursor: pointer;
}

.tab-detail-container {
  max-width: 22rem;
}

.newsletter h2,
.newsletter p {
  text-align: center;
  /* background: blue; */
  max-width: 40rem;
  margin: 0 auto;

}

.newsletter-input {
  max-width: 50rem;
  margin: 2rem auto;
  border: 1px solid var(--grey-color);
  padding: 3px;

  border-radius: 1.5rem;
}

.envelop {
  font-size: 1.5rem;
  align-self: center;
  margin-left: 2rem;
}

.newsletter h2 {
  margin-bottom: 1rem;
}

.round-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}

.input {
  border: 2px solid var(--grey-color);
  /* outline: none; */
  background: var(--dark-grey-color);
  /* opacity: 0.2; */
}

.footer {
  min-height: 40vh;
  background: var(--primary-color);
  color: var(--clr-white);
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.footer-info {
  max-width: 25rem;
}

.single-footer a {
  font-weight: 200;
  /* margin-bottom: 2rem; */
}

.footer-info p {
  font-weight: 300;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cart-btn {
  text-transform: uppercase;
  background: var(--primary-color);
  color: var(--clr-white);
  padding: 1rem .5rem;
  /* letter-spacing: var(--spacing); */
  font-weight: 600;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: .6rem;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
  border-radius: var(--radius);
  min-width: 10rem;
}

.cart-number {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  color: var(--primary-color);
  background: var(--clr-white);
  /* padding: 0.2rem; */
}

.shop-adert {
  box-shadow: var(--light-shadow);
}

.active-network {
  /* box-shadow: var(--light-shadow); */
  border: 2px solid var(--primary-color);
}

.cart-section {
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  opacity: 0.94;

  /* background: blue; */
}

.cart-container {
  margin-top: 5rem;
  max-height: 80vh;
  min-width: 50vw;
  padding: 2rem;
}

.cart-title {
  /* border-bottom: 2px solid var(--primary-color); */
}

.cart-list {
  /* ove */
}

.cart-item {
  border-bottom: 1px solid var(--grey-color);

}